<h1>LOGIN</h1>
<table>
  <form class="" action="<%= session_url %>" method="post">
    <tr>
      <td>Email:</td>
      <td>
        <input type="text" name="email" value="">
      </td>
    </tr>
    <tr>
      <td>Password:</td>
      <td>
        <input type="password" name="password" value="">
      </td>
    </tr>
    <tr>
      <td>
      <input type="submit" value="Login">
      </td>
    </tr>
  </form>
</table>
