<h1>CREATE USER</h1>
<table>
  <form class="" action="<%= users_url %>" method="post">
    <tr>
      <td>Email:</td>
      <td>
        <input type="text" name="item[email]" value="">
      </td>
    </tr>
    <tr>
      <td>Password:</td>
      <td>
        <input type="password" name="item[password]" value="">
      </td>
    </tr>
    <tr>
      <td>
      <input type="submit" value="Create User">
      </td>
    </tr>
  </form>
</table>
