<form class="" action="index.html" method="post">
  <label>Title</label>
  <input type="text" name="item[title]" value="">
  <label>Url</label>
  <input type="text" name="item[url]" value="">
  <label>Content</label>
  <input type="text" name="item[content]" value="">
</form>
